.search-bar {
	margin: 5px 15px 15px 15px;
	text-align: center;
}

.search-bar input {
	width: 75%;
	background-color: transparent;
}

.video-item img {
	max-width: 64 px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: : 4px;
}

.list-group-item {
	cursor: pointer;
	background-color: #000000;
}

.list-group-item:hover{
	background-color: #eee;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

