h1, h2 {
  font-family: 'Playfair Display', sans-serif;
  color: black;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 3px;
  padding-top: 35px;
}

p {
	font-family: 'Open Sans';
}

.title {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  text-align: center;
}

.title > * {
  flex: 1 100%;
}

.videoContent, .inspirationContent {
  padding-top: 50px;
}

.photoContent{
  padding-top: 10px;
}

.myWrapper {
  height: 100%;
}

p.test1 {
    width: 140px; 
    border: 1px solid #000000;
    word-break: keep-all;
}